*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: #1A0B2A;
    font-family: Raleway, sans-serif;
    .container{
        color: #EFEFEF;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        h5{
            margin-top: 1rem;
        }

        .cardbox{
            width: 90vw;
            height: 400px;
            margin-top: 2rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1rem;
        }

        .button{
            padding: 1rem;
            border: none; 
            border-radius: 10px;
            background-color:#F15412;
            color: #EFEFEF;
            font-size: 1rem;
            cursor: pointer;
        }
    }
}